@tailwind base;
@tailwind components;
@tailwind utilities;

.cloud_1 {
  @apply absolute w-32 bottom-[45%] left-[50%] z-0;
  animation: move_cloud_1 25s linear infinite;
}

.cloud_2 {
  @apply absolute w-48 bottom-[25%] left-[20%] z-20;
  animation: move_cloud_1 20s linear infinite;
}

/* Keyframes*/
/* @keyframes move_cloud_1 {
  0% {
    transform: translateX(280%);
  }
  100% {
    transform: translateX(-250%);
  }
}
@keyframes move_cloud_2 {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(-250%);
  }
} */
